form.signup,
form.login {
  margin-top: 50px;
}

/* -------------------- */
button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}
/* --------------------- */

.button1 {
  margin-right: 100px;
}

.button2 {
  margin-right: 50px;
}

.image1 {
  /* The image used */
  background-image: url("eating_out.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
